<div class="container" *ngIf="data">
  <div class="header">
    <ion-icon
      class="mosque-icon"
      src="../../assets/svgs/mosque-silhouette.svg"
    ></ion-icon>
    <p class="header-txt">Namaz Vakitleri</p>
    <p class="date gregorian-date-txt">
      {{ gregorianDate.day }} {{ getPrayerName(gregorianDate.month.en) }} {{
      gregorianDate.year }} {{ getPrayerName(gregorianDate.weekday.en) }}
    </p>
    <p class="date hijri-date-txt">
      {{ hijriDate.day }} {{ getPrayerName(hijriDate.month.number) }} {{
      hijriDate.year }}
    </p>
  </div>
  <div class="body">
    <div class="count-down">
      <span class="next-pray-txt">SONRAKİ NAMAZ</span>
      <span class="next-pray-name"
        >{{getCurrentPrayer().nextPrayer.nameTr}}</span
      >
      <div class="next-pray-countdown">
        <span>{{ remainingTime }}</span>
      </div>
    </div>
    <div class="times">
      <div class="time">
        
      </div>
    </div>
  </div>
</div>
