.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #00363a;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 1rem 0;

  .mosque-icon {
    width: 4rem !important;
    height: 4rem !important;
  }

  .header-txt {
    font-weight: 600;
  }

  .date {
    font-size: 0.6rem;
    margin-top: 0.2rem;
    color: #adadad;
  }
}

.body {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  flex-direction: column;

  .count-down {
    display: flex;
    border: 1px solid #00000033;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    align-items: center;
    color: #00363a;
    gap: 0.5rem;
    padding: 1rem 0;

    .next-pray-txt {
      letter-spacing: 0.1rem;
    }

    .next-pray-name {
      font-weight: 600;
      font-size: 1.5rem;
    }

    .next-pray-countdown {
      background-color: #00363a;
      color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
    }
  }

  .times {
    height: 50%;
    width: 100%;
    border-top: 1px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}
